.template_container{
    position: relative;
    width: 100%;
    margin: 0 10%;
    padding: 5em;
    border: 2px solid rgb(22, 22, 54);
    border-radius: 10px;
}

.sidebar{
    background-color: rgb(22, 22, 54);
    color: #fff;
    padding: 2em 0.5em;
}

.name_section p{
    font-weight: bolder;
    font-size: larger;
   
}
.section-heading{
    color: red;
    font-size: 1.5em;
    font-weight: 800;
}
.contact{
    display: flex;
}
.social-accounts .contact{
   font-size: 1.2em
}
.social-accounts .contact:hover{
    color: #fff;
    text-decoration: none
}

.main p{
    font-size: 1.2em;
}